*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(87, 85, 85);
}
h1{
    text-align: center;
}
img{
    position: absolute;
    top: 50px;
    left: 100px;
}
.input1{
position: absolute;
top: 140px;
left: 216px;
opacity: 0;
}
.input1:hover{
    cursor: pointer;
}
.btn1{
    position:absolute;
    right: 0;
    margin: 10px;
    top: 300vh;
    display: none;
}
.input1:checked ~ .btn1{
display: block;
}